@model Biker.Web.Models.MotorBike.AddMotorBikeSpareViewModel

@{
    ViewData["Title"] = "Create Motorbike for Spare";
}

    <h2>Create Motobike for Spare</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBikeS" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MotorbikeId" />

           <partial name="_MotorbikeSpare" />

           <div class="form-group">
               <a asp-action="Details" asp-route-id="@Model.MotorbikeId" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back</a>
               <input type="submit" value="Create" name="AddBikeS" class="btn btn-primary" />
           </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
